
firstLesson/firstLesson.xcodeproj/project.xcworkspace/contents.xcworkspacedata
firstLesson/firstLesson.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
firstLesson/firstLesson.xcodeproj/project.xcworkspace/xcuserdata/dverennik.xcuserdatad/UserInterfaceState.xcuserstate
firstLesson/firstLesson.xcodeproj/xcuserdata/dverennik.xcuserdatad/xcschemes/xcschememanagement.plist
firstLesson/firstLesson.xcodeproj/project.xcworkspace/xcuserdata/dverennik.xcuserdatad/UserInterfaceState.xcuserstate
firstLesson/firstLesson.xcodeproj/xcuserdata/dverennik.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
firstLesson/firstLesson.xcodeproj/project.xcworkspace/xcuserdata/dverennik.xcuserdatad/UserInterfaceState.xcuserstate
*.xcuserstate
